@import "../../common/Color.scss";

.footer {
  margin-top: 1rem;
  background-color: $secondry-color;
  color: $Font-primary-color;
}
.f {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
